# Allow directory traversal, ignore contents EXCEPT .gitkeep
assets/roms/*
!assets/roms/**/.gitkeep

assets/images/**
!assets/images/**/
!assets/images/**/.gitkeep

assets/system/*
!assets/system/**/.gitkeep

assets/saves/*
!assets/saves/**/.gitkeep

# Build and runtime outputs
build/
*.o
SP1DER-GAMES
test_output_*.cfg

# Misc
bad_shader_1.txt