# Ignore subfolder contents, but allow directory traversal
assets/roms/*
assets/images/*
assets/system/*
assets/saves/*

# Re-include all .gitkeep files at any depth
!/**/.gitkeep

# Build and runtime outputs
build/
*.o
SP1DER-GAMES
test_output_*.cfg

# Misc
bad_shader_1.txt