# Ignore subfolder contents
assets/roms/*
!assets/roms/**/.gitkeep

# Keep specific tracked image folder
assets/images/*
!assets/images/**/.gitkeep
!assets/images/other/

# Build and runtime outputs
build/
system/*
saves/*
*.o
SP1DER-GAMES
test_output_*.cfg

# Misc
bad_shader_1.txt